{% extends "base.html" %}
{% block content %}
<div>
	<h1>{{ title }}</h1>
{% for objs in objects_list %}
	<div class="card" style="width: 18rem;">
		{% if objs.image %}
		<img class="card-img-top" src='{{ objs.image.url }}' class='img-responsive' />
		{% endif %}
		<div class="card-body">
			<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
	    	<h5 class="card-title"><a href = '{% url "posts:detail" objs.id %}'>{{ objs.title }}</a> <small>{{ objs.publish|timesince }}</small></h5>
            {% if objs.user %}
                <p>Author: {{ objs.user }}</p>
            {% endif %}
	    	<p class="card-text">{{ objs.content|linebreaks|truncatechars:120 }}</p>
	    	<a href='{% url "posts:detail" objs.id %}' class="btn btn-primary">view</a>
	  	</div>
	</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if objects_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ objects_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects_list.number }} of {{ objects_list.paginator.num_pages }}.
        </span>

        {% if objects_list.has_next %}
            <a href="?{{ page_request_var }}={{ objects_list.next_page_number }}">next</a>
            <a href="?{{ page_request_var }}={{ objects_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


</div>
{% endblock content %}